In [34]:
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import requests
import time, os

In [44]:
chromedriver = "C:appliction/chromedriver" 

driver = webdriver.Chrome(chromedriver)

<ipython-input-44-9d694b076c61>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chromedriver)

In [9]:
df=pd.DataFrame()
stocks=['NVDA','AMD','INTC','ATVI','EA']
for stock in stocks:
    url=f'https://finance.yahoo.com/quote/{stock}?p={stock}&.tsrc=fin-srch/'
    driver.get(url)
    time.sleep(2)
    Hist_data=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[2]/div/div/div[6]/div/div/section/div/ul/li[5]/a/span')
    Hist_data.click()
    time.sleep(2)
    year_5=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div/span')
    year_5.click()
    time.sleep(2)
    final=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div[2]/div/ul[2]/li[3]/button')
    final.click()
    time.sleep(2)
    apply=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/button')
    apply.click()
    
    for i in range(20):
    #Scroll
        driver.execute_script(
            "window.scrollTo(0, document.documentElement.scrollHeight);" #Alternatively, document.body.scrollHeight
    )
    
        #Wait for page to load
        time.sleep(1)
    soup = BeautifulSoup(driver.page_source)
    op=[]
    for price in range(0,6000,6):
        op.append(soup.find_all('td',class_="Py(10px) Pstart(10px)")[price].text)
    date=[]
    for d in range(0,1000,1):
        date.append(soup.find_all('td', class_="Py(10px) Ta(start) Pend(10px)")[d].text)
    df[stock+' date']=date
    df[stock+' open']=op

<ipython-input-9-41038e16dee7>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Hist_data=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[2]/div/div/div[6]/div/div/section/div/ul/li[5]/a/span')
<ipython-input-9-41038e16dee7>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  year_5=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div/span')
<ipython-input-9-41038e16dee7>:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  final=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div[2]/div/ul[2]/li[3]/button')
<ipython-input-9-41038e16dee7>:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  apply=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/button')

In [11]:
df.tail()

,NVDA date,NVDA open,AMD date,AMD open,INTC date,INTC open,ATVI date,ATVI open,EA date,EA open
995,"Nov 01, 2017",52.34,"Nov 01, 2017",11.25,"Nov 01, 2017",45.97,"Nov 01, 2017",65.69,"Nov 01, 2017",116.00
996,"Oct 31, 2017",51.28,"Oct 31, 2017",10.76,"Oct 31, 2017",45.20,"Oct 31, 2017",65.34,"Oct 31, 2017",118.13
997,"Oct 30, 2017",50.47,"Oct 30, 2017",11.26,"Oct 30, 2017",44.48,"Oct 30, 2017",64.33,"Oct 30, 2017",117.13
998,"Oct 27, 2017",49.45,"Oct 27, 2017",12.17,"Oct 27, 2017",43.30,"Oct 27, 2017",62.36,"Oct 27, 2017",116.83
999,"Oct 26, 2017",48.69,"Oct 26, 2017",12.45,"Oct 26, 2017",40.91,"Oct 26, 2017",62.27,"Oct 26, 2017",115.07

In [14]:
stk_price= df[['NVDA date', 'NVDA open','AMD open','INTC open','ATVI open','EA open']]

In [15]:
stk_price.head()

      NVDA date NVDA open AMD open INTC open ATVI open EA open
0  Oct 15, 2021    218.10   112.51     54.20     76.50  135.85
1  Oct 14, 2021    212.88   110.50     52.90     75.94  136.72
2  Oct 13, 2021    209.18   106.28     52.38     75.34  136.96
3  Oct 12, 2021    208.28   105.17     53.57     76.45  139.53
4  Oct 11, 2021    205.75   104.62     53.81     77.74  139.92

In [16]:
#stk_price.to_csv('stock_price.csv')

In [27]:
df1=pd.DataFrame()
stocks1=['GC=F','CL=F']
for stock1 in stocks1:
    url=f'https://finance.yahoo.com/quote/{stock1}?p={stock1}&.tsrc=fin-srch/'
    driver.get(url)
    time.sleep(2)
    Hist_data=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[2]/div/div/div[6]/div/div/section/div/ul/li[3]/a/span')
    Hist_data.click()
    time.sleep(2)
    year_5=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div/span')
    year_5.click()
    time.sleep(2)
    final=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div[2]/div/ul[2]/li[3]/button')
    final.click()
    time.sleep(2)
    apply=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/button')
    apply.click()
    
    for i in range(20):
    #Scroll
        driver.execute_script(
            "window.scrollTo(0, document.documentElement.scrollHeight);" #Alternatively, document.body.scrollHeight
    )
    
        #Wait for page to load
        time.sleep(1)
    soup = BeautifulSoup(driver.page_source)
    op=[]
    for price in range(0,6000,6):
        op.append(soup.find_all('td',class_="Py(10px) Pstart(10px)")[price].text)
    date=[]
    for d in range(0,1000,1):
        date.append(soup.find_all('td', class_="Py(10px) Ta(start) Pend(10px)")[d].text)
    df1[stock1+' date']=date
    df1[stock1+' open']=op

<ipython-input-27-feb21a3af4a8>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Hist_data=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[2]/div/div/div[6]/div/div/section/div/ul/li[3]/a/span')
<ipython-input-27-feb21a3af4a8>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  year_5=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div/span')
<ipython-input-27-feb21a3af4a8>:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  final=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div[2]/div/ul[2]/li[3]/button')
<ipython-input-27-feb21a3af4a8>:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  apply=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/button')

In [32]:
df1.head()

      GC=F date GC=F open     CL=F date CL=F open
0  Oct 15, 2021  1,794.50  Oct 15, 2021     81.48
1  Oct 14, 2021  1,792.20  Oct 14, 2021     80.59
2  Oct 13, 2021  1,760.80  Oct 13, 2021     80.58
3  Oct 12, 2021  1,751.90  Oct 12, 2021     80.50
4  Oct 11, 2021  1,756.60  Oct 11, 2021     79.59

In [33]:
stk_price['Curde oil']=df1['CL=F open']
stk_price['Gold']=df1['GC=F open']
#stk_price.head()
#stk_price.to_csv('stock_price.csv')

In [45]:
df2=pd.DataFrame()
stocks2=['ETH-USD','BTC-USD']
for stock2 in stocks2:
    url=f'https://finance.yahoo.com/quote/{stock2}?p={stock2}&.tsrc=fin-srch/'
    driver.get(url)
    time.sleep(2)
    Hist_data=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[2]/div/div/div[6]/div/div/section/div/ul/li[4]/a/span')
    Hist_data.click()
    time.sleep(2)
    year_5=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div/span')
    year_5.click()
    time.sleep(2)
    final=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div[2]/div/ul[2]/li[3]/button')
    final.click()
    time.sleep(2)
    apply=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/button')
    apply.click()
    
    for i in range(20):
    #Scroll
        driver.execute_script(
            "window.scrollTo(0, document.documentElement.scrollHeight);" 
    )
    
        
        time.sleep(1)
    soup = BeautifulSoup(driver.page_source)
    op=[]
    for price in range(0,8700,6):
        op.append(soup.find_all('td',class_="Py(10px) Pstart(10px)")[price].text)
    date=[]
    for d in range(0,1450,1):
        date.append(soup.find_all('td', class_="Py(10px) Ta(start) Pend(10px)")[d].text)
    df2[stock2+' date']=date
    df2[stock2+' open']=op

<ipython-input-45-ac155c8a4d1c>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Hist_data=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[2]/div/div/div[6]/div/div/section/div/ul/li[4]/a/span')
<ipython-input-45-ac155c8a4d1c>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  year_5=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div/span')
<ipython-input-45-ac155c8a4d1c>:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  final=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/div[1]/div/div/div[2]/div/ul[2]/li[3]/button')
<ipython-input-45-ac155c8a4d1c>:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  apply=driver.find_element_by_xpath('/html/body/div[1]/div/div/div[1]/div/div[3]/div[1]/div/div[2]/section/div[1]/div[1]/button')

In [37]:
df2.head()

,ETH-USD date,ETH-USD open,BTC-USD date,BTC-USD open,^IXIC date,^IXIC open
0,"Oct 17, 2021","3,821.81","Oct 17, 2021","60,833.54","Oct 15, 2021","14,891.24"
1,"Oct 16, 2021","3,865.67","Oct 16, 2021","61,609.53","Oct 14, 2021","14,717.50"
2,"Oct 15, 2021","3,790.15","Oct 15, 2021","57,345.90","Oct 13, 2021","14,537.17"
3,"Oct 14, 2021","3,604.96","Oct 14, 2021","57,372.83","Oct 12, 2021","14,539.09"
4,"Oct 13, 2021","3,492.75","Oct 13, 2021","56,038.26","Oct 11, 2021","14,540.08"

In [38]:
stk_price['Nasdaq index']=df2['^IXIC open']

<ipython-input-38-7a83c638d09e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stk_price['Nasdaq index']=df2['^IXIC open']

In [63]:

df2 = df2.rename(columns={'ETH-USD date': 'date'})
stk_price=stk_price.rename(columns={'NVDA date':'date'})

,date,NVDA open,AMD open,INTC open,ATVI open,EA open,Curde oil,Gold,Nasdaq index
0,"Oct 15, 2021",218.10,112.51,54.20,76.50,135.85,81.48,"1,794.50","14,891.24"

In [65]:
result = stk_price.merge(df2, on=['date'], how='left')
## most markets close on weekend while Crypto is open 24/7 this why we need to left join to get the weekday values

In [1]:
result.head()

NameError: name 'result' is not defined

In [69]:
#result.to_csv('DataFrame.csv')